/* Center the content vertically and horizontally */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('newspaper_bgd.jpg');
}

/* Style the blue square */
.blue-square {
  width: 600px;
  height: 500px;
  background-color: rgb(16,40,77); /* Updated to use RGB values */
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column; /* Arrange content vertically */
  justify-content: space-between; /* Updated to space between items */
}

/* Style the header */
.blue-square h2 {
  margin-top: 100px; /* Adjust top margin to shift towards the top */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
}

.blue-square p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Style the button */
.blue-square button#popupButton {
  padding: 10px 20px;
  background-color: rgb(2, 133, 206);
  color: white;
  border: 2px solid rgb(16,40,77);
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 20px !important; /* Add !important */
}

.blue-square button#popupButton:hover {
  background-color: rgb(112,183,222); /* Updated to use RGB values */
  color: white;
}

.popup {
  background-color: #fff;
  width: 450px;
  padding: 30px 40px;
  position: absolute;
  border-color: black;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  display: none;
  z-index: 1000; /* Ensure popup is above other content */
}

.popup button.closeButton {
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup p {
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
}

a {
  display: block;
  width: 150px;
  position: relative;
  margin: auto;
  text-align: center;
  background-color: rgb(112, 183, 222);
  color: white;
  text-decoration: none;
  padding: 5px 0;
}